:root {
    --font-family: sans-serif;
    --body-bg :#1e1f25;
    --btn-bg:#000;
    --btn-color:#cbcbcb;
    --btn-color-hover:#fff;
    --grad-color1:#eeaf61;
    --grad-color2:#f49062;
    --grad-color3:#ee5d6c;
    --grad-color4:#ce4993;
    --grad-color5:#6a0d83;
}

html, body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.btn-border {
    background: linear-gradient(115deg, #eeaf61,#fb9062, #ee5d6c, #ce4993, #6a0d83);
    padding: 2px;
}